{% extends "webtemplate_dbca/base_b5.html" %}

{% block header_top_menu %}
<div id='ledger-payment-overtop'></div>
{% endblock %}

{% block extra_css %}
     <link rel="stylesheet" type="text/css" href="/static/ledger_api/ledger_api.css?ver={{ GIT_COMMIT_HASH }}" />
{% endblock %}

{% block menubottom %}
{% endblock %}

{% block extra_style %}
<style>
    .footer {background-color: lightgrey}
</style>
{% endblock %}

{% block menu_spacer %}
{% endblock %}

{% block content %}

{% block accounts_message_top %}
{% endblock %}

{% if message != "" %}
<div class='row mx-md-n5 border p-2 ms-3 me-3 mb-3'>
<div class="alert alert-danger" role="alert">{{message}}</div>
</div>
{% endif %}

{% if validated %}
<div class='row mx-md-n5 border p-2 ms-3 me-3 mb-3'>
<span class="help-block">                      
    Card has been successfully added for user account with email address {{user.email}}.

    The added card can now be used by an authorised payment administrator to make payments on behalf of account owner.
</span>
</div>
{% endif %}

{% block additional_content %}
{% endblock %}	   
	   
{% block accounts_message_bottom %}
{% endblock %}

{% endblock %}


{% block page_footer %}
<footer class="footer mt-auto py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <small class="float-right">&copy; Department of Biodiversity, Conservation and Attractions</small>
            </div>
        </div>
    </div>
</footer>
{% endblock page_footer %}
